.header {
    position: relative;
    height: 540px;
}

.app-menu-list {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0.5em 0;
    background-color: transparent;
    cursor: pointer;
    border-radius: 0;
    left: 50%;
    right: 50%;
    transform: translate(-50%, 0);
}

.app-menu-list:hover {
    background-color: #fff;
    color: #000;
}

.app-menu-list-item {
    margin: 0 5em;
}
.cart-list-item {

}

.intro {
    width: 100%;
    height: 100vh;
    background: #ece9e9;
    background-image: url('../images/intro1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    color: #ff9900;
    text-shadow: #2200ff 1px 1px 0;
}

.intro h4 { 
    color: #9966FF; 
    text-shadow: #000033 1px 1px ;
}

.intro *::before {
    content: '';
    width: 100vw;
    height: 20vh;
    background-color: rgba(216, 216, 216, 0.347);
    -webkit-filter: blur(4px);
            filter: blur(4px);
    display: block;
    position: absolute;
    left: 0;
    z-index: -1;
}